@import url("main.css");

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
    color: var(--text-color);
    padding-top: 5rem;
}

.about h2 {
    margin-bottom: 1.5rem;
}

.about-img {
    border-radius: 50%;
}

.about-img img {
    position: relative;
    width: var(--size-7xl);
    height: var(--size-7xl);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.about-img img:hover {
    box-shadow: 0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.skills-container {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 1rem;
}

.row {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.row .col .skill {
    width: 3rem;
    height: 3rem;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
                -5px -5px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    
}

.row .col:nth-child(1) .skill {
    background: conic-gradient(var(--main-color) 80%, transparent 0);
}

.row .col:nth-child(2) .skill {
    background: conic-gradient(var(--main-color) 76%, transparent 0);
}

.row .col:nth-child(3) .skill {
    background: conic-gradient(var(--main-color) 70%, transparent 0);
}

.row .col:nth-child(4) .skill {
    background: conic-gradient(var(--main-color) 84%, transparent 0);
}

.row .col:nth-child(5) .skill {
    background: conic-gradient(var(--main-color) 78%, transparent 0);
}

.row .col .skill::before {
    content: '';
    position: absolute;
    width: 85%;
    height: 85%;
    background-color: var(--bg-color);
    border-radius: 50%;
}


.row .col .skill .content {
    color: var(--main-color);
    position: absolute;
    font-size: 0.5rem;
    text-align: center;
    user-select: none;
}

.row .col .skill .content span {
    display: block;
    letter-spacing: 1px;
}

@media (min-width: 767px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5rem
    }
    .about-img img {
        width: var(--size-10xl);
        height: var(--size-10xl);
        margin-right: 5rem;
    }
    
}


@media (min-width: 1023px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5rem
    }
    .about-img img {
        width: 15rem;
        height: 15rem;
        margin-right: 5rem;
    }
}

@media (min-width: 1365px) {
    .about-img img {
        width: 20rem;
        height: 20rem;
        margin-right: 5rem;
    }
    .row .col .skill {
        width: 5rem;
        height: 5rem;
    }
    
    .row .col .skill .content {
        font-size: 1rem;
    }
    .skills-container {
        margin-top: 2rem;
    }
}

@media (min-width: 1915px) {
    .row .col .skill {
        width: 7rem;
        height: 7rem;
    }
    
    .row .col .skill .content {
        font-size: 1.5rem;
    }
    .skills-container {
        margin-top: 3rem;
    }
    
    .row {
        gap: 3rem;
    }
}



