@import url("main.css");

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    padding: 1rem;
    
}

.navContainer {
    display: flex;
    align-items: center;
}

.name-logo {
    color: white;
    font-size: var(--size-2xl);
    white-space: nowrap;
}

.name-logo:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.new-color {
    color: var(--main-color);
}



.navMenu {
    display: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu__link {
    text-decoration: none;
    color: white;
}

.nav-menu__link:hover,
.nav-menu__link:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    transition: all 0.3s;
}

.navBar {
    display: flex;
    align-items: center;
    color: white;
    width: var(--size-4xl);
    height: var(--size-4xl);
    background: transparent;
    display: block;
    padding: 0;
    border: none;
    position: relative;
    z-index: 9999;
}

.navBar:hover {
    color: var(--main-color);
    transition: color 0.3s;
}

.line {
    border: 1px solid white;
    padding-top: 1.5em;
}

.sun {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--size-3xl);
    height: var(--size-3xl);
    font-size: 1.5rem;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
}

.sun-header {
    color: white !important;
}

.sun:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}



/* md */
@media (min-width: 765px) {
    header {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .navMenu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 1.5rem;
    color: var(--text-color);
    font-size: var(--size-lg);
    font-weight: 700;
    }

    .navBar {
    display: none;
    }
}

/* lg */
@media (min-width: 1020px) {
    header {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    .navMenu {
        font-size: var(--size-2xl);
    }
    .name-logo {
        font-size: var(--size-2xl);
    }
    
}

/* xl */
@media (min-width: 1360px) {
    header {
        padding-left: 7rem !important;
        padding-right: 7rem !important;
    }
    
    
}

@media (min-width: 1915px) {
    header {
        padding-left: 12rem !important;
        padding-right: 12rem !important;
    }
    .navMenu {
        font-size: var(--size-3xl);
    }
    .name-logo {
        font-size: var(--size-3xl);
    }
}
