* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    line-height: calc(1em + 0.5rem);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:root {
    --bg-color: #111111;
    --second-bg-color: #151515;
    --text-color: white;
    --main-color: #04fffb;

    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    overflow-y: auto;
}

.unselectable * {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

a:focus {
    outline: none;
    box-shadow: none;
    border: none;
}


.btn {
    border: none;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    margin-top: 1em;
    background-color: var(--clr-rose);
    color: var(--text-color);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(255, 64, 87, 0.5), 0 6px 6px rgba(255, 64, 87, 0.5), 0 0 100px -10px var(--clr-rose);
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(255, 64, 87, 0.25), 0 10px 10px rgba(255, 64, 87, 0.22), 0 0 120px -10px var(--clr-rose);
}

::selection {
    background-color: transparent;
    color: inherit;
}


.section-heading {
    text-align: left;
    font-size: var(--size-3xl);
}

p {
    color: var(--text-color);
    font-size: var(--size-xs);
    margin-right: 1rem;
    margin-left: 1rem;
}

svg {
    margin: 0;
    padding: 0;
}

svg:hover {
    fill: var(--main-color);
}


.container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;    
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 30px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: black;
    margin-top: 5rem;
    color: white;
}

footer span:first-of-type {
    font-size: 1rem;
}

footer span:last-of-type {
    font-size: 0.75rem;
}

.footer-color {
    color: #04fffb;
}



/* sm */
@media (min-width: 434px) {
    .section-heading {
        font-size: var(--size-4xl);
    }
} 

/* md */
@media (min-width: 767px) {
    .container {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .section-heading {
        font-size: var(--size-5xl);
    }
    
    p {
        font-size: var(--size-sm);
    }
    .section {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .footer-color {
        color: #04fffb;
    }
    
} 
/* lg */    
@media (min-width: 1023px) {
    .container {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    .section-heading {
        font-size: var(--size-6xl);
    }

}
   

/* xl */
@media (min-width: 1365px) {
    .container {
        padding-left: 7rem !important;
        padding-right: 7rem !important;
    }
    .section-heading {
        font-size: var(--size-7xl);
    }
    
    p {
        font-size: var(--size-lg);
    }
    .section {
        height: 100dvh;
    }
    footer span:first-of-type {
        font-size: 1.25rem;
    }
    footer span:last-of-type {
        font-size: 1rem;
    }
    footer {
        padding: 1rem;
    }
}

@media (min-width: 1919px) {
    .container {
        padding-left: 12rem !important;
        padding-right: 12rem !important;
    }
    .section-heading {
        font-size: var(--size-8xl);
    }
    p {
        font-size: var(--size-xl);
    }
    footer span:first-of-type {
        font-size: 1.50rem;
    }
    footer span:last-of-type {
        font-size: 1.25rem;
    }
}
